/* Base CSS for the page */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background:#c0c0c0;
}

/* Container for the entire page */
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Selections div */
#selections {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* Left side table */
#table {
  width: 30%;
  overflow-y: scroll; /* Add a scrollbar if the content overflows */
}

/* Right side highlight bar */
#highlight-bar {
  width: 30%;
  padding: 20px;
  background-color: #f0f0f0;
}

/* Content div for charts */
#charts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}





#model-res-quant-selection {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.selection-column {
  flex: 1;
  padding: 10px;
}

.column-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.checkbox {
  margin-right: 5px;
}

.resolution-svg {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  fill: red;
  stroke: black;
}

.quantization-svg {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
